PORT=5000
MONGO_URI=mongodb://localhost:27017/perplexity
JWT_SECRET=

//Redis configuration
REDIS_USERNAME=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

//Resend Mail Configuration
RESEND_MAIL_API_KEY = 
RESEND_MAIL_FROM = Perplexity by Adity <perplexity@devaditya.dev>


//Groq API Key
GROQ_API_KEY=